html {
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-x: hidden;
}//html

body {
    font-family: $font-main;

    *{ -webkit-tap-highlight-color: rgba(0,0,0,0); }
}

*,
*:before,
*:after {
	box-sizing: inherit;
}//*

*:focus{ outline: none; }
