body,
input,
textarea{
    color: $color-black;
}

h1{
    @include font(600);
    @include font-size(3.6);
}

h2{
    @include font(600);
    @include font-size(3.2);
}

h3{
    @include font(600);
    @include font-size(2.8);
}

h4{
    @include font(600);
    @include font-size(2.4);
}

h5{
    @include font(600);
    @include font-size(2);
}

p{
    @include font(300);
    @include font-size(1.8);
}

a{
    @include font(300);
    text-decoration: none;
    color: inherit;

    &:visited{ color: inherit; }
}

span{
    font-family: $font-main;
    font-weight: inherit;
    color: inherit;
}
