.result__winner {

    &--blue { background-color: $color-blue; }
    &--orange { background-color: $color-orange; }
    &--green { background-color: $color-green; }
    &--red { background-color: $color-red; }
}//.results__winner

.result__player {

    &--blue { background-color: $color-blue; }
    &--orange { background-color: $color-orange; }
    &--green { background-color: $color-green; }
    &--red { background-color: $color-red; }
}
