button {
    &:focus{ outline: none; }
}// button

.button {
    display: inline-block;
    min-width: 106px;
    padding: 10px 15px;
    font-family: $font-main;
    @include font-size(1.8);
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: $color-white;
    cursor: pointer;
    @include transition-style;

    &.button--blue { background-color: $color-blue; }
    &.button--green { background-color: $color-green; }
    &.button--orange { background-color: $color-orange; }
    &.button--red { background-color: $color-red; }

}//.button

.options__button {
    @extend .button;
    min-width: 60px;
    padding: 7px 12px;
    color: $color-blue;
    border: 3px solid $color-blue;
    margin-right: 15px;

    input[type="radio"] { display: none; }

    &.selected {
        color: $color-white;
        background-color: $color-blue;
    }//&.selected

}//.options__button
