html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  display: block;
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "Montserrat", sans-serif;
  background-color: #262626; }
  body * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

*,
*:before,
*:after {
  box-sizing: inherit; }

*:focus {
  outline: none; }

main {
  position: relative; }

body,
input,
textarea {
  color: #fff; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
  font-size: 3.6rem; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  font-size: 3.2rem; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 28px;
  font-size: 2.8rem; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  font-size: 2.4rem; }

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-size: 2rem; }

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-size: 1.8rem; }

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

span {
  font-family: "Montserrat", sans-serif;
  font-weight: inherit;
  color: inherit; }

button:focus {
  outline: none; }

.button, .options__button {
  display: inline-block;
  min-width: 106px;
  padding: 10px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .button.button--blue, .button--blue.options__button {
    background-color: #15A3FF; }
  .button.button--green, .button--green.options__button {
    background-color: #3CCC05; }
  .button.button--orange, .button--orange.options__button {
    background-color: #FFC400; }
  .button.button--red, .button--red.options__button {
    background-color: #FF4B36; }

.options__button {
  min-width: 60px;
  padding: 7px 12px;
  color: #15A3FF;
  border: 3px solid #15A3FF;
  margin-right: 15px; }
  .options__button input[type="radio"] {
    display: none; }
  .options__button.selected {
    color: #fff;
    background-color: #15A3FF; }
