$color-black: #000;
$color-white: #fff;

$color-dark-gray: #383838;
$color-medium-gray: #bfbfbf;
$color-light-gray: #eee;
$color-lighter-gray: #f7f7f7;

$color-green: #0E7D48;
$color-red: #101719;

$font-main: 'Montserrat', sans-serif;

$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
