$color-black: #000;
$color-white: #fff;

$color-dark-gray: #383838;
$color-medium-gray: #bfbfbf;
$color-light-gray: #eee;
$color-lighter-gray: #f7f7f7;
$color-danger: #c40000;

$color-slate: #9aacbf;
$color-blue: #2789c6;

$font-main: 'Roboto', sans-serif;

$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
