$color-black: #000;
$color-white: #fff;

$color-dark-gray: #262626;
$color-medium-gray: #9e9e9e;
$color-light-gray: #bfbfbf;
$color-lighter-gray: #f7f7f7;

$color-blue: #15A3FF;
$color-green: #3CCC05;
$color-orange: #FFC400;
$color-red: #FF4B36;

$font-main: 'Montserrat', sans-serif;

$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
